*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

.mainWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.food {
  margin: 20px auto;
  background: pink;
  padding: 20px;
  border-radius: 5px;
}

.navbar {
  width: 100%;
  background: black;
  color: white;
  padding: 20px;
}
.navbar a {
  margin-right: 10px;
  text-decoration: none;
  color: white;
}
